@import '../../../variables';

.filters {
    margin-bottom: 5px;
    .form-control.no-border {
        border: none;
    }
}

.flow /deep/ {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    app-spell {
        width: 25%;
        padding: 0 2.5px;
        padding-bottom: 2.5px;
        .card {
            height: 100%;
        }
        .card.attack .card-header {
            background-color: $attack;
        }
        .card.support .card-header {
            background-color: $support;
        }
        .card.utility .card-header {
            background-color: $utility;
        }
    }
}

.no-spell {
    display: none;
}
.no-attack /deep/ {
    .attack {
        display: none;
    }
}
.no-support /deep/ {
    .support {
        display: none;
    }
}
.no-utility /deep/ {
    .utility {
        display: none;
    }
}
