<div class="no-print card filters">
  <div class="card-header">
    Sélection des niveaux de sorts (bloc non visible à l'impression)
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-3">
        <form ngForm>
          <div class="form-control no-border" *ngFor="let cast of ['no-cast-1', 'no-cast-2', 'no-cast-3', 'no-cast-4', 'no-cast-5']">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="cast" [(ngModel)]="noDisplayCast[cast]" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Ne pas afficher les sorts de niveau {{cast.replace('no-cast-', '')}}</span>
            </label>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <form ngForm>
          <div class="form-control no-border" *ngFor="let cast of ['no-cast-6', 'no-cast-7', 'no-cast-8', 'no-cast-9', 'no-cast-10']">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="cast" [(ngModel)]="noDisplayCast[cast]" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Ne pas afficher les sorts de niveau {{cast.replace('no-cast-', '')}}</span>
            </label>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <form ngForm>
          <div class="form-control no-border" *ngFor="let cast of ['no-cast-11', 'no-cast-12', 'no-cast-13', 'no-cast-14', 'no-cast-15']">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="cast" [(ngModel)]="noDisplayCast[cast]" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Ne pas afficher les sorts de niveau {{cast.replace('no-cast-', '')}}</span>
            </label>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <form ngForm>
          <div class="form-control no-border" *ngFor="let cat of ['no-attack', 'no-support', 'no-utility']">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="cat" [(ngModel)]="noDisplayCast[cat]" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Ne pas afficher les sorts de la catégorie {{cat.replace('no-', '')}}</span>
            </label>
          </div>
          <div class="form-control no-border">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="cast" [(ngModel)]="caption" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Ne pas afficher la légende</span>
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-caption [ngClass]="{ 'no-caption': caption }" [color]="true">
</app-caption>

<div class="flow" [ngClass]="noDisplayCast">
  <app-cast *ngFor="let spell of spells" [spell]="spell" class="{{spell.category}}" [ngClass]="{'no-cast': noDisplayCast['no-cast-' + spell.level]}"></app-cast>
</div>