.filters {
    margin-bottom: 5px;
    .form-control.no-border {
        border: none;
    }
}

.flow /deep/ {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    app-cast {
        width: 25%;
        padding: 0 2.5px;
        padding-bottom: 2.5px;
        .card {
            height: 100%;
        }
        .card.attack .card-header {
            background-color: rgba(173, 29, 29, 0.5);
        }
        .card.support .card-header {
            background-color: rgba(24, 177, 48, 0.5);
        }
        .card.utility .card-header {
            background-color: rgba(29, 29, 173, 0.5);
        }
    }
}

.no-cast-1 /deep/ {
    .cast-1 {
        display: none;
    }
}
.no-cast-2 /deep/ {
    .cast-2 {
        display: none;
    }
}
.no-cast-3 /deep/ {
    .cast-3 {
        display: none;
    }
}
.no-cast-4 /deep/ {
    .cast-4 {
        display: none;
    }
}
.no-cast-5 /deep/ {
    .cast-5 {
        display: none;
    }
}
.no-cast-6 /deep/ {
    .cast-6 {
        display: none;
    }
}
.no-cast-7 /deep/ {
    .cast-7 {
        display: none;
    }
}
.no-cast-8 /deep/ {
    .cast-8 {
        display: none;
    }
}
.no-cast-9 /deep/ {
    .cast-9 {
        display: none;
    }
}
.no-cast-10 /deep/ {
    .cast-10 {
        display: none;
    }
}
.no-cast-11 /deep/ {
    .cast-11 {
        display: none;
    }
}
.no-cast-12 /deep/ {
    .cast-12 {
        display: none;
    }
}
.no-cast-13 /deep/ {
    .cast-13 {
        display: none;
    }
}
.no-cast-14 /deep/ {
    .cast-14 {
        display: none;
    }
}
.no-cast-15 /deep/ {
    .cast-15 {
        display: none;
    }
}
.no-attack /deep/ {
    .attack {
        display: none;
    }
}
.no-support /deep/ {
    .support {
        display: none;
    }
}
.no-utility /deep/ {
    .utility {
        display: none;
    }
}
