<div class="no-print card">
  <div class="card-header">
    Sélection des niveaux de sorts (bloc non visible à l'impression)
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-3">
        <form ngForm>
          <div class="form-control no-border" *ngFor="let spell of ['no-spell-1', 'no-spell-2', 'no-spell-3', 'no-spell-4', 'no-spell-5']">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="spell" [(ngModel)]="noDisplaySpell[spell]" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Ne pas afficher les sorts de niveau {{spell.replace('no-spell-', '')}}</span>
            </label>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <form ngForm>
          <div class="form-control no-border" *ngFor="let spell of ['no-spell-6', 'no-spell-7', 'no-spell-8', 'no-spell-9', 'no-spell-10']">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="spell" [(ngModel)]="noDisplaySpell[spell]" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Ne pas afficher les sorts de niveau {{spell.replace('no-spell-', '')}}</span>
            </label>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <form ngForm>
          <div class="form-control no-border" *ngFor="let spell of ['no-spell-11', 'no-spell-12', 'no-spell-13', 'no-spell-14', 'no-spell-15']">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="spell" [(ngModel)]="noDisplaySpell[spell]" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Ne pas afficher les sorts de niveau {{spell.replace('no-spell-', '')}}</span>
            </label>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <form ngForm>
          <div class="form-control no-border">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="spell" [(ngModel)]="caption" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Ne pas afficher la légende</span>
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-caption [ngClass]="{ 'no-caption': caption }">
</app-caption>

<div [ngClass]="noDisplaySpell">
  <div class="row">
    <div class="col-md-4">
      <h2>Attaque</h2>
      <app-spell *ngFor="let spell of attackSpell" [spell]="spell"></app-spell>
    </div>
    <div class="col-md-4">
      <h2>Soutien</h2>
      <app-spell *ngFor="let spell of supportSpell" [spell]="spell"></app-spell>
    </div>
    <div class="col-md-4">
      <h2>Utilitaire</h2>
      <app-spell *ngFor="let spell of utilitySpell" [spell]="spell"></app-spell>
    </div>
  </div>
</div>