<div class="{{'cast-' + spell.level}} card {{spell.category}}">
  <div class="card-header">
    <div class="level-badge">{{spell.level}}</div><div class="title">{{spell.name}}</div>
  </div>
  <div class="card-block">
    <p *ngIf="spell.cost">
      <i class="fa fa-star-o" aria-hidden="true"></i>{{spell.cost}}
    </p>
    <p *ngIf="spell.castingTime">
      <i class="fa fa-hourglass-end" aria-hidden="true"></i>{{spell.castingTime}} assauts
    </p>
    <p *ngIf="spell.test">
      <i class="fa fa-cubes" aria-hidden="true"></i>{{spell.test}}
    </p>
    <p *ngIf="spell.testControl">
      <i class="fa fa-hand-rock-o" aria-hidden="true"></i>{{spell.testControl}}
    </p>
    <p *ngIf="spell.material">
      <i class="fa fa-flask" aria-hidden="true"></i>{{spell.material}}
    </p>
    <p *ngIf="spell.damage">
      <i class="fa fa-gavel" aria-hidden="true"></i>{{spell.damage}}
    </p>
    <p *ngIf="spell.note">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{spell.note}}
    </p>
    <p *ngIf="spell.critSuccess">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>{{spell.critSuccess}}
    </p>
    <p *ngIf="spell.critFail">
      <i class="fa fa-thumbs-down" aria-hidden="true"></i>{{spell.critFail}}
    </p>
  </div>
</div>