nav.nav {
    background: black;
    .nav-link {
        color: white;
    }
    .active {
        background-color: gray;
    }
    .brand {
        filter: invert(100%);
        width: 40px;
        height: 40px;
    }
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    .footer-content {
        padding-top: 18px;
        display: flex;
        .left {
            text-align: left;
            flex: 1;
        }
        .right {
            text-align: right;
            flex: 1;
        }
    }
}