<nav class="navbar navbar-expand-lg navbar-dark bg-dark no-print">
  <img class="brand" src="favicon.png">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item" dropdown *ngFor="let book of books">
        <a class="nav-link" href dropdownToggle (click)="false">{{book}}</a>
        <ul *dropdownMenu class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="{{'/par-categorie/'+book}}" routerLinkActive="active">Par catégories</a></li>
          <li><a class="dropdown-item" routerLink="{{'/par-niveau/'+book}}" routerLinkActive="active">Par niveaux</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="no-print">
    <h1>Générateur d'aide de sort <button class="btn btn-default" (click)="printPage()">Imprimer</button></h1>
    (Pensez à activer les graphiques d'arrière plan)
  </div>
  <router-outlet></router-outlet>
</div>

<footer class="footer no-print">
  <div class="container-fluid footer-content">
    <span class="left">Créé par <a href="https://github.com/JeanDaniel-Fischer/">Jean-Daniel Fischer</a></span>
    <span class="right">Licence MIT</span>
  </div>
</footer>
