<nav class="nav no-print">
  <img class="brand" src="favicon.png">
  <a class="nav-link" routerLink="/adathie" routerLinkActive="active">Adathie (categories)</a>
  <a class="nav-link" routerLink="/adathie-flow" routerLinkActive="active">Adathie (flow)</a>
</nav>

<div class="container-fluid">
  <div class="no-print">
    <h1>Générateur d'aide de sort <button class="btn btn-default" (click)="printPage()">Imprimer</button></h1>
    (Pensez à activer les graphiques d'arrière plan)
  </div>
  <router-outlet></router-outlet>
</div>

<footer class="footer no-print">
  <div class="container-fluid footer-content">
    <span class="left">Créé par <a href="https://github.com/JeanDaniel-Fischer/">Jean-Daniel Fischer</a></span>
    <span class="right">Licence MIT</span>
  </div>
</footer>
