.form-control.no-border {
    border: none;
}

.no-spell-1 /deep/ {
    .spell-1 {
        display: none;
    }
}
.no-spell-2 /deep/ {
    .spell-2 {
        display: none;
    }
}
.no-spell-3 /deep/ {
    .spell-3 {
        display: none;
    }
}
.no-spell-4 /deep/ {
    .spell-4 {
        display: none;
    }
}
.no-spell-5 /deep/ {
    .spell-5 {
        display: none;
    }
}
.no-spell-6 /deep/ {
    .spell-6 {
        display: none;
    }
}
.no-spell-7 /deep/ {
    .spell-7 {
        display: none;
    }
}
.no-spell-8 /deep/ {
    .spell-8 {
        display: none;
    }
}
.no-spell-9 /deep/ {
    .spell-9 {
        display: none;
    }
}
.no-spell-10 /deep/ {
    .spell-10 {
        display: none;
    }
}
.no-spell-11 /deep/ {
    .spell-11 {
        display: none;
    }
}
.no-spell-12 /deep/ {
    .spell-12 {
        display: none;
    }
}
.no-spell-13 /deep/ {
    .spell-13 {
        display: none;
    }
}
.no-spell-14 /deep/ {
    .spell-14 {
        display: none;
    }
}
.no-spell-15 /deep/ {
    .spell-15 {
        display: none;
    }
}
