<div class="no-print card">
  <div class="card-header">
    Sélection des niveaux de sorts (bloc non visible à l'impression)
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-4">
        <form ngForm>
          <div class="form-control no-border" *ngFor="let cast of ['no-cast-1', 'no-cast-2', 'no-cast-3', 'no-cast-4', 'no-cast-5']">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="cast" [(ngModel)]="noDisplayCast[cast]" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Ne pas afficher les sorts de niveau {{cast.replace('no-cast-', '')}}</span>
            </label>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <form ngForm>
          <div class="form-control no-border" *ngFor="let cast of ['no-cast-6', 'no-cast-7', 'no-cast-8', 'no-cast-9', 'no-cast-10']">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="cast" [(ngModel)]="noDisplayCast[cast]" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Ne pas afficher les sorts de niveau {{cast.replace('no-cast-', '')}}</span>
            </label>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <form ngForm>
          <div class="form-control no-border" *ngFor="let cast of ['no-cast-11', 'no-cast-12', 'no-cast-13', 'no-cast-14', 'no-cast-15']">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="cast" [(ngModel)]="noDisplayCast[cast]" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Ne pas afficher les sorts de niveau {{cast.replace('no-cast-', '')}}</span>
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="noDisplayCast">
  <div class="row">
    <div class="col-md-4">
      <h2>Attaque</h2>
      <app-cast 
        [level]="1" 
        name="Coup de fourchette" 
        castingTime="1"
        cost="3 PA"
        material=""
        damage="1D6 - 1 (min 1)"
        note="Ignore l'armure naturelle"
        test="Magie Physique"
        critFail=""
        critSuccess="dégats x2"
        ></app-cast>
      <app-cast 
        [level]="2" 
        name="Merguez de combat" 
        castingTime="3"
        cost="4 PA/Merguez"
        material=""
        damage="1D6 (8 AT) feu"
        note="Une seul épreuve de contrôle, parade impossible"
        test="Magie Psychique"
        testControl="Magie Psychique + 2D6 vs 2D6 +7"
        critFail="Implosion 2BL directs dans 5M"
        critSuccess="Ignore l'armure"
        ></app-cast>
      <app-cast 
        [level]="3" 
        name="Glaive de la justice" 
        castingTime="3"
        cost="5 PA"
        material=""
        damage="2D6 +2"
        note="L'armure compte"
        test="Magie Physique (niveau 9-)"
        testControl=""
        critFail=""
        critSuccess="+1D6"
        ></app-cast>
      <app-cast 
        [level]="4" 
        name="Charbons ardents d'Adathie" 
        castingTime="1"
        cost="7 PA"
        material=""
        damage="2D6 +2"
        note="Attaque en cone, 1 jet par cible, ignore la moitié des PR. Pas de bonus INT"
        test="Magie Physique"
        testControl=""
        critFail=""
        critSuccess=""
        ></app-cast>
      <app-cast 
        [level]="5" 
        name="Gerbille justicière" 
        castingTime=""
        cost="10 PA"
        material="1 bougie verte, 1 plume de coq"
        damage="1D6 +4 tranchants/magique"
        note="30 PV, 10 AT 8 PRD 15 COU, 2 PR 9 RM"
        test="Magie Psychique -1"
        testControl="Magie Psychique +2D6 vs 2D6 +9"
        critFail="Sort entropique"
        critSuccess="Pas de contrôle, ignore l'armure (AT)"
        ></app-cast>

    </div>
    <div class="col-md-4">
      <h2>Soutien</h2>
      <app-cast 
        [level]="1" 
        name="Guérison équitable" 
        cost="1PA par PV"
        material="1 dose de sang par cible"
        note="Même nombre PV par cible"
        ></app-cast>
      <app-cast 
        [level]="1" 
        name="Clairvoyance divine" 
        castingTime="3"
        cost="4 PA"
        material=""
        damage="+4 INT"
        note="Pas d'épreuve après le niveau 6"
        test="Magie Psychique + 2"
        critFail="1D6 de blessure"
        critSuccess="Aucun PA nécessaire"
        ></app-cast>
      <app-cast 
        [level]="2" 
        name="Garde à vue de Labahk" 
        castingTime="2"
        cost="4 PA"
        material=""
        damage="-1 AT/PRD, -2 INT, -3 COU"
        note="Uniquement humain sans tête vide"
        test="Magie Psychique"
        critFail="Cible un allié ou prêtre"
        critSuccess="Réddition"
        ></app-cast>
      <app-cast 
        [level]="2" 
        name="Assistance juridique" 
        castingTime="2"
        cost="3 PA"
        material=""
        damage="+1 PR et RM (+2 si niveau 6+)"
        note="La valeur des PR Naturelles <= 3"
        test="Magie Psychique +2"
        critFail="Perte d'une armure au hasard"
        critSuccess="PR et RM x2"
        ></app-cast>
      <app-cast 
        [level]="3" 
        name="Armure de graisse" 
        castingTime="2"
        cost="2 PA par PR"
        material=""
        damage="-1 CHA / PA/2 PR"
        note="Max PR déterminé par le niveau"
        test="Magie Psychique +1"
        testControl=""
        critFail="Perte d'une armure au hasard"
        critSuccess="+1 PR"
        ></app-cast>
      <app-cast 
        [level]="4" 
        name="Force des justes" 
        castingTime="3"
        cost="8 PA"
        material=""
        damage="Dégâts +2 / COU +2"
        note="Affecte les alliés dans un rayon de 5m"
        test="Magie Psychique (niveau 7-)"
        testControl=""
        critFail="Bonus sont des malus"
        critSuccess="4 PA au lieu de 8"
        ></app-cast>
      <app-cast 
        [level]="6" 
        name="Bouclier de Régis" 
        castingTime="3"
        cost="10 PA"
        material=""
        damage="Immunité contre les sorts nécessitant un test RM, PR Magique +Niveau/2"
        note="5m"
        test="Magie Psychique -2 (niveau 9-)"
        testControl=""
        critFail="Sort entropique"
        critSuccess="PA/2"
        ></app-cast>
      <app-cast 
        [level]="7" 
        name="Sanctuaire d'Adathie" 
        castingTime="2"
        cost="10 PA"
        material=""
        damage="Armure totale sauf malédiction"
        note="Uniquement sur le prètre"
        test="Magie Psychique -1"
        testControl=""
        critFail="Sort entropique"
        critSuccess="PA/2"
        ></app-cast>
    </div>
    <div class="col-md-4">
      <h2>Utilitaire</h2>
      <app-cast 
        [level]="1" 
        name="Fumet du barbecue" 
        castingTime="2"
        cost="4 PA"
        material=""
        test="CHA +1D6 vs INT +1D6"
        note="100m de portée à partir d'un point visible"
        critFail=""
        critSuccess=""
        ></app-cast>
      <app-cast 
        [level]="3" 
        name="Sainte Béarnaise / Harissa" 
        castingTime=""
        cost="1 PA pour 2 cibles"
        material="1 dose d'huile / 1 bol"
        damage="+1 PV par repas (niveau 6+ +2, niveau 10+ +3)"
        note="Peut servir à impressionner"
        test=""
        testControl=""
        critFail=""
        critSuccess=""
        ></app-cast>
      <app-cast 
        [level]="5" 
        name="Altération charcutière" 
        castingTime="2"
        cost="6 PA"
        material=""
        damage="L'arme est une merguez, COU -2"
        note="10m"
        test="Magie Psychique -1"
        testControl=""
        critFail="Arme d'allié au hasard transformé"
        critSuccess="Pas de test RM et l'équipement est aussi en merguez, INT raté -> réddition"
        ></app-cast>
      <app-cast 
        [level]="8" 
        name="Réparation exécutoire" 
        castingTime=""
        cost="10 PA"
        material=""
        damage="Récupération tous les PV"
        note="Soigne blessure, saignement et infections. 1 fois par jour."
        test="Magie Psychique (niveau 9-)"
        testControl=""
        critFail="2D6 BL directs (ne tue pas)"
        critSuccess="cible 1PV max de plus (définitif)"
        ></app-cast>
      <app-cast 
        [level]="9" 
        name="Justice aveugle" 
        castingTime="4"
        cost="13 PA"
        material=""
        damage="la cible pert la vue, AD, COU, CHA -6 / AT-5 / PRD -8"
        note="15m, test RM"
        test="Magie Psychique -3"
        testControl=""
        critFail="3D6 sur prètre"
        critSuccess="PA/2"
        ></app-cast>
      <app-cast 
        [level]="10" 
        name="Triomphe de la raison" 
        castingTime="5"
        cost="15 PA"
        material=""
        damage="Les cibles changent de camp"
        note="Effet 1h, test INT de résistance, 15m"
        test="Magie Psychique -2"
        testControl=""
        critFail="Sort entropique"
        critSuccess="Pas de test de résistance"
        ></app-cast>
    </div>
  </div>
</div>